.nav-button .btn-icon {
  position: absolute;
  top: -4px;
}
.nav-button .btn-icon.left {
  left: 0;
  padding-left: 20px;
}
.nav-button .btn-icon.right {
  right: 0;
  padding-right: 20px;
}
.nav-button .btn-icon img {
  width: 44px;
}
.nav-button .btn-icon.left img {
  -webkit-filter: brightness(0) invert(0);
  filter: brightness(0) invert(0);
  top: -8px;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
